@font-face {
  font-family: "Quicksand";
  src:
    local("Quicksand"),
    url("assets/fonts/Quicksand.woff2") format("woff2"),
    url("assets/fonts/Quicksand.woff") format("woff"),
    url("assets/fonts/Quicksand.ttf") format("truetype");
}

:root {
  color-scheme: light;
  --c-txt: #222;
  --c-bg: #ffe;
  --c-acc: #f36e32;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --c-txt: #fff;
    --c-bg: #222;
  }
}

body {
  color: var(--c-txt);
  background-color: var(--c-bg);
  max-width: 50em;
  font-family: "Quicksand", ui-rounded, ui-sans-serif, sans-serif;
  margin: 2em auto;
  padding: 0 2em;
}

@media (prefers-reduced-motion: no-preference) {
  body {
    scroll-behaviour: smooth;
  }
}

@media screen and (max-width: 300px) {
  body {
    padding: 0 1em;
  }
}

a, button {
  cursor: pointer;
}

.icon {
  color: inherit;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  width: 2em;
  height: 2em;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 0.5em;
  align-items: center;
}

nav .logo svg {
  width: 3em;
  height: 3em;
}

nav .logo {
  color: var(--c-acc);
  justify-self: left;
}

header {
  text-align: center;
  margin: 5em 0;
}

.feed article {
  margin-bottom: 4em;
}

.feed h2 {
  margin-bottom: 0;
}

.feed h2 a {
  color: inherit;
  text-decoration: none;
}

.feed h2 a:hover {
  text-decoration: underline;
}

.feed .media-item {
  width: 100%;
}

.img-preview[open] {
  border: none;
  background-color: #000a;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-preview img {
  max-width: 100vw;
  max-height: 100dvh;
}

.img-preview button {
  color: #fff;
  position: fixed;
  top: 1em;
  right: 1em;
  background-color: #333a;
  width: 3em;
  height: 3em;
  border-radius: 3em;
}

.img-preview button:hover {
  background-color: #222a;
}

footer {
  text-align: center;
}
