@font-face {
  font-family: "Quicksand";
  src:
    local("Quicksand"),
    url("assets/fonts/Quicksand.woff2") format("woff2"),
    url("assets/fonts/Quicksand.woff") format("woff"),
    url("assets/fonts/Quicksand.ttf") format("truetype")
}

body {
  font-family: "Quicksand", ui-rounded, ui-sans-serif, sans-serif;
  margin: 2em;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 0.5em;
}

nav a {
  justify-self: left;
}

header {
  text-align: center;
  margin: 5em;
}