@font-face {
  font-family: "Quicksand";
  src:
    local("Quicksand"),
    url("assets/fonts/Quicksand.woff2") format("woff2"),
    url("assets/fonts/Quicksand.woff") format("woff"),
    url("assets/fonts/Quicksand.ttf") format("truetype")
}

:root {
  color-scheme: light;
  --c-text: #000;
  --c-bg: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --c-text: #fff;
    --c-bg: #000;
    /* working on dark color scheme. remember: use firefox style editor */
  }
}

body {
  font-family: "Quicksand", ui-rounded, ui-sans-serif, sans-serif;
  margin: 2em;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 0.5em;
  align-items: center;
}

nav a svg {
  width: 2em;
  height: 2em;
}

nav a {
  justify-self: left;
  padding: 0;
}

nav button svg {
  width: 1.5em;
  height: 1.5em;
}

nav button {
  background: none;
  border: none;
}

header {
  text-align: center;
  margin: 5em;
}

hr {
  border: none;
  border-bottom: 1px solid var(--c-text);
}