{%- comment -%}
To use this include, add {%- include media.html post=post -%} in the site.data.posts for loop.
To make media urls absolute, use absolute=true attribute.
{%- endcomment -%}

{%- for media_item in include.post.media -%}
  {%- assign media_type = media_item.type | split: "/" | first -%}
  {%- assign relative_media_url = "assets/media/" | append: post.number | append: media_item.url -%}
  {%- if absolute -%}
    {%- assign media_url = relative_media_url | absolute_url -%}
    {%- else -%}
    {%- assign media_url = relative_media_url -%}
  {%- endif -%}
  {%- case media_type -%}
    {%- when "image" -%}
      <img src="{{ media_url }}" loading="lazy" decoding="async" class="media-item"/>
    {%- when "video" -%}
      <video src="{{ media_url }}" controls controlslist="nodownload" loop class="media-item"></video>
    {%- when "audio" -%}
      <audio src="{{ media_url }}" controls controlslist="nodownload" loop class="media-item"></audio>
    {%- else -%}
      <iframe src="{{ media_url }}" class="media-item"></iframe>
  {%- endcase -%}
{%- endfor -%}
