{%- comment -%}
To use this include, add {%- include media.html post=post -%} in the site.data.posts for loop.
To make media urls absolute, use absolute=true attribute.
{%- endcomment -%}

{%- if include.post == site.data.posts.last -%}
  {%- assign loading = "eager" -%}
  {%- else -%}
    {%- assign loading = "lazy" -%}
{%- endif -%}

{%- for media_item in include.post.media -%}
  {%- assign media_type = media_item.type | split: "/" | first -%}
  {%- assign relative_media_url = "assets/media/" | append: post.number | append: media_item.url -%}
  {%- if absolute -%}
    {%- assign media_url = relative_media_url | absolute_url -%}
    {%- else -%}
      {%- assign media_url = relative_media_url -%}
  {%- endif -%}
  {%- case media_type -%}
    {%- when "image" -%}
      {%- if media_item.photo_sphere -%}
        <div class="media-item photo-sphere" data-src="{{ media_url }}">
          {%- picture jpt-webp "{{ media_url }}" --img class="media-item" loading="{{ loading }}" decoding="async" data-original="{{ media_url }}" -%}
        </div>
      {%- else -%}
        {%- picture jpt-webp "{{ media_url }}" --img class="media-item" loading="{{ loading }}" decoding="async" data-original="{{ media_url }}" -%}
      {%- endif -%}
    {%- when "video" -%}
      <video src="{{ media_url }}" controls controlslist="nodownload" loop class="media-item"></video>
    {%- when "audio" -%}
      {%- comment %} TODO: add custom media controls: https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Accessibility/Multimedia {% endcomment -%}
      <audio src="{{ media_url }}" controls controlslist="nodownload" loop class="media-item"></audio>
    {%- else -%}
      <iframe src="{{ media_item.url }}" class="media-item" style="border:none; height:80vh;">
        <p>There was an error rendering this content. <a href="{{ media_item.url }}">Visit site</a></p>
      </iframe>
  {%- endcase -%}
{%- endfor -%}
