{%- comment -%}
To use this include, add {%- include media.html post=post -%} in the site.data.posts for loop.
{%- endcomment -%}

{%- for media_item in include.post.media -%}
  {%- assign media_type = media_item.type | split: "/" | first -%}
  {%- assign media_url = "assets/media/" | append: post.number | append: media_item.url -%}
  {%- case media_type -%}
    {%- when "image" -%}
      <img src="{{ media_url }}" loading="lazy" decoding="async" class="media-item" onerror="this.src='assets/ui/broken-img.svg'"/>
    {%- when "video" -%}
      <video src="{{ media_url }}" controls controlslist="nodownload" loop class="media-item"></video>
    {%- when "audio" -%}
      <audio src="{{ media_url }}" controls controlslist="nodownload" loop class="media-item"></audio>
    {%- else -%}
      <object data="{{ media_url }}" class="media-item">
        <embed src="{{ media_url }}">
      </object>
  {%- endcase -%}
{%- endfor -%}
