:root {
  touch-action: none;
}

.svg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--c-bg);
}

#master-petal {
  fill: var(--c-acc);
}

button[popovertarget="more"] {
  position: fixed;
  top: 2rem;
  right: 2rem;
}
